body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.about_page{
  min-height: 100vh;
}

.about_container {
  text-align: center;
  margin: 20px 0;
}

.about_container h1 {
  color: green;
  font-size: 35px;
}

.about_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding: 6px 6%;
}

.about_content img {
  width: 100%;
  max-width: 800px; 
  height: auto;
  border-radius: 10px;
  margin-bottom: 0px;
}

.about_text {
  width: 100%;
  border: 0px solid black;
  padding: 10px;
  align-content: center;
  
}

.about_text p {
  font-size: 16px;
  text-align: justify;
}
.about_text p span{
  color: #008a20;
}
/* Responsive Styles */
@media (min-width: 769px) {
  .about_content {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .about_content img {
    width: 50%;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .about_text {
    width: 50%;
    margin-left: 20px; 
  }
}

@media (max-width: 768px) {
  .about_content {
    flex-direction: column;
    align-items: center;
  }

  .about_content img {
    width: 100%; 
    margin-right: 0;
    margin-bottom: 0;
  }

  .about_text {
    width: 100%;
    margin-left: 0; 
  }

 .sub-content h2{
  font-size: 40px;
 }
}

@media (max-width: 617px){
  
}
@media screen and (max-width: 500px) {
  .about_container h1{
    font-size: 30px;
  }
}

@media (max-width: 350px) {
  .about_container h1{
    font-size: 25px;
  }
}